doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/salesforce-lightning-design-system.min.css')
    link(rel='stylesheet', href='/styles/custom.css')
    script(src="javascript/libs/jquery.min.js")
    script(src="javascript/libs/jquery.validate.min.js")
    script(src="javascript/libs/postmonger.js")
    script(src="javascript/customActivity.js")
  body
    block content
